.filterDiv {
  display: flex;
  padding: 5px 0;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.editButton {
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  padding: 5px;
  border-radius: 4px;
  font-size: 1.5rem;
  order: 1;
}

.editButton :hover {
  color: #9e7565;
  transform: scale(1.15);
}

.editButton:active {
  transform: scale(1.25);
  color: #8a6456;
}
.filterButton {
  background-color: #f0f0f0;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 15px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  display: inline-block;
  align-self: center;
  order: 2;
}

.active {
  background-color: #b48a78;
  color: white;
  border-color: #9e7565;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filterLabel {
  font-weight: 600;
  color: #555;
  margin-right: 5px;
}

.filterSelect {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  font-size: 0.95rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .filterDiv {
    padding: 2px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .filterButton {
    margin-bottom: 10px;
    order: 1;
  }

  .editButton {
    order: 2;
  }
}
