.header {
  padding: 15px 20px;
  border-bottom: 1px solid #e0d7d4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
  /* position: sticky;  */
  top: 0;
  z-index: 1000;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  color: #b48a78;
  letter-spacing: 0.5px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.nav > * {
  margin: 0; /* Critical for removing default button margins */
  line-height: 1.2; /* Standardize text height */
  vertical-align: middle; /* Aggressively align text baseline */
}

.loginBtn {
  font-size: 1rem;
   transition: color 0.2s ease-in-out, background-color 0.2s;
}

.loginBtn:hover {
  font-size: 1.25rem;
  background-color: #d7805b;
}

.navLink {
  text-decoration: none;
  color: grey;
  font-size: 1em;
  font-weight: 500;
  padding: 5px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  cursor: pointer;
}

.navLink.active {
  color: #333333;
  border-bottom: 2px solid #b48a78;
}

.navLink:hover {
  padding: 10px;
  border-radius: 5px;
  background-color: #b48a78;
  color: white;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start;
    padding: 10px;
  }

  .nav {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}
